:root {
    --green: #3D8168;
    --grey: #6D6D6D;
    --white: #FFFFFF;
    --darkgreen: #194131;
}

* {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    line-height: 1.5;
    background-color: hsl(30, 38%, 92%);
}

main {
    height: 100%;
    display: grid;
    place-items: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    border-radius:  0 10px 10px  0;
    background-color: var(--white);
}

picture, img, svg {
    display: block;
    max-width: 100%;
}

.product-description {
    margin: 7.25%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--grey);
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.3rem;
}

h2 {
    margin-top: 1rem;
    font-family: Fraunces, serif;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.2rem;
}

p {
    margin-top: 1.2rem;
    color: var(--grey);
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    font-size: 0.85rem;
    font-family: 'Open Sans', sans-serif;
}

p, h1, h2 {
    overflow-wrap: break-word;
}

.price {
    margin-top: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.discounted-price {
    font-family: Fraunces, serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--green);
}

.original-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    color: var(--grey);
    text-decoration: line-through;
}

button {
    margin-top: 0.8rem;
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

button:hover {
    background-color: var(--darkgreen);
    cursor: pointer;
}

button > p {
    color: var(--white);
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
}

.footer {
    font-size: 0.6875rem;
    text-align: center;
    color: var(--grey);
    font-family: 'Open Sans', sans-serif;
}

.footer a {
    color: hsl(228, 12%, 48%);
    text-decoration: none;
}

@media (min-width: 660px) {
    .product-card {
        flex-direction: row;
        max-width: 60rem;
        height: 45rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }   

    .product-image {
        border-radius: 10px 0 0 10px;
        height: 100%;
    }

    picture {
        width: 50%;
    }

    .product-description {
        height: 100%;
        width: 50%;
        margin: 0;
        padding: 2rem;
    }

    .price {
        margin-top: 1.2rem;
    }

    button {
        margin-top: 1.8rem;
        margin-bottom: 0rem;
    }

    .footer {
        margin-bottom: 2rem;
    }
}