:root {
    --dark-cyan: hsl(158deg 36% 37%);
    --cream: hsl(30deg 38% 92%);
    --very-dark-blue: hsl(212deg 21% 14%);
    --dark-gray-blue: hsl(228deg 12% 48%);
    --white: hsl(0deg 0% 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Monserat', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 345px;
    background-color: var(--white);
    border-radius: 0.7rem;
}

img {
    max-width: 100%;
}

.product-image-desktop {
    display: none;
}

.product-image-mobile {
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

h1, .original-price {
    color: var(--dark-gray-blue);
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 0.9rem;
}

h2, .discounted-price {
    font-family: Fraunces, serif;
}

.discounted-price, .original-price {
    display: inline-block;
}

h2 {
    font-size: 2.25rem;
    line-height: 1;
    margin-top: 0.4rem;
}

.description {
    margin: 1em 0;
    color: var(--dark-gray-blue);
    line-height: 1.7;
}

.price {
    justify-content: left;
    align-items: center;
}

.original-price {
    font-size: 0.9rem;
    text-decoration: line-through;
    margin-left: 1.5rem;
}

.discounted-price {
    font-size: 2.3rem;
    color: var(--dark-cyan);
}

.product-description {
    padding: 1.1em 1.8em 2em;
}

button {
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--dark-cyan);
    color: var(--white);
    border: none;
    padding: 0.8em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-size: 1.05em;
    font-weight: bold;
    letter-spacing: 0.05em;
    height: 3.2em;
    gap: 0.6rem;
}

button:hover, button:active {
    background-color: var(--very-dark-blue);
}

 button:before {
    margin-right: 0.8em;
 }

 .footer {
    color: var(--dark-gray-blue);
    padding: 4em;
 }

 @media screen and (width >= 600px) {
    main {
        max-width: 600px;
        height: 429px;
        display: flex;
        justify-content: space-between;
    }

    .product-description {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 1em 0.5em;
    }

    .product-image-mobile {
        display: none;
    }

    .product-image-desktop {
        display: unset;
        max-width: 100%;
        border-top-left-radius: 0.7em;
        border-bottom-left-radius: 0.7em;
    }

    .description {
        margin-top: 1.5em;
    }

    .price {
        margin-top: 0.5em;
    }

    button {
        margin-top: 1.5em;
    }
 }